
@{
    ViewBag.Title = "Contact";
}
<!-- s-content
    ================================================== -->
<section class="s-content s-content--narrow">

    <div class="row">

        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                Feel Free To Contact Us.
            </h1>
        </div> <!-- end s-content__header -->

        <div class="s-content__media col-full">
            <div id="map-wrap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d195978.83263300246!2d32.60303711640625!3d39.87044640000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34fa997cc845f%3A0xc64556f095b2e6c0!2sBilgeAdam%20Ankara!5e0!3m2!1str!2str!4v1610285606612!5m2!1str!2str" width="1000" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div> <!-- end s-content__media -->

        <div class="col-full s-content__main">

            <p class="lead">Lorem ipsum Deserunt est dolore Ut Excepteur nulla occaecat magna occaecat Excepteur nisi esse veniam dolor consectetur minim qui nisi esse deserunt commodo ea enim ullamco non voluptate consectetur minim aliquip Ut incididunt amet ut cupidatat.</p>

            <p>
                Duis ex ad cupidatat tempor Excepteur cillum cupidatat fugiat nostrud cupidatat dolor sunt sint sit nisi est eu exercitation incididunt adipisicing veniam velit id fugiat enim mollit amet anim veniam dolor dolor irure velit commodo cillum sit nulla ullamco magna amet magna cupidatat qui labore cillum sit in tempor veniam consequat non laborum adipisicing aliqua ea nisi sint ut quis proident ullamco ut dolore culpa occaecat ut laboris in sit minim cupidatat ut dolor voluptate enim veniam consequat occaecat fugiat in adipisicing in amet Ut nulla nisi non ut enim aliqua laborum mollit quis nostrud sed sed.
            </p>

            <div class="row">
                <div class="col-six tab-full">
                    <h3>Where to Find Us</h3>

                    <p>
                        1600 Amphitheatre Parkway<br>
                        Mountain View, CA<br>
                        94043 US
                    </p>

                </div>

                <div class="col-six tab-full">
                    <h3>Contact Info</h3>

                    <p>
                        contact@philosophywebsite.com<br>
                        info@philosophywebsite.com <br>
                        Phone: (+1) 123 456
                    </p>

                </div>
            </div> <!-- end row -->

            <h3>Say Hello.</h3>

            <form name="cForm" id="cForm" method="post" action="">
                <fieldset>

                    <div class="form-field">
                        <input name="cName" type="text" id="cName" class="full-width" placeholder="Your Name" value="">
                    </div>

                    <div class="form-field">
                        <input name="cEmail" type="text" id="cEmail" class="full-width" placeholder="Your Email" value="">
                    </div>

                    <div class="form-field">
                        <input name="cWebsite" type="text" id="cWebsite" class="full-width" placeholder="Website" value="">
                    </div>

                    <div class="message form-field">
                        <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Your Message"></textarea>
                    </div>

                    <button type="submit" class="submit btn btn--primary full-width">Submit</button>

                </fieldset>
            </form> <!-- end form -->


        </div> <!-- end s-content__main -->

    </div> <!-- end row -->

</section> <!-- s-content -->